/* General */

html, body {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: Muli, sans-serif;
    height: 100%;
    width: 100%;
}

body{
    padding-top: 50px;
}




/* -------------------------------------- */
/* header */


/* -- center the nav links -- */

.navbar {
    height: 5%;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* -- navbar styles -- */

.navbar-nav {
    font-size: .8em;
    
}

.navbar {
    background-color: white;
    border-bottom: 1px solid rgba(150,150,150,.5);
}

.navbar-brand {
    
    margin-right: 1em;
}

#createPostNav {
    color: rgba(50,150,250,1);
    

}

@media (min-width: 768px){
    #createPostNav {
        font-size: 1.3em;
    }
    
    
}


/* -------------------------------------- */
/* Fixed Left Menu Bar */

#menuDiv {
    overflow-y:auto;
    border-right: 1px solid rgba(150,150,150,.5);
    height: 100%;
    background-color: rgba(75,75,75,1);
    padding: 0 .2em;
}

#menuDiv h2 {
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
    color: white;
}


#menuDiv dl {
    
}

#menuDiv dt {
    font-size: .8em;
    color: rgba(200,200,200,1);
    margin-top: 1em;
    
}

#menuDiv dd {
    font-size: .7em;
    color: rgba(250,250,250,1);
    padding: .2em 0 ;
    
}

/* -------------------------------------- */
/* content-area*/

#contentArea {
    height: 100%;
    padding: 0;
}

.topic-description {
    height: 100%;
}
.topic-description h3{
    font-size: 1.7em;
    border-bottom: 5px solid rgba(100,100,100,.2);
    padding-bottom: .2em;
}

.topic-description p {
    font-size: .9em;
    margin-top: 2em;
    padding: 0 3em;
    line-height: 1.5em;
}


/* code view */

.code-view {
    font-size: .9em;
    color: white;
    background-color: rgba(200,200,200, .2);
    height: 100%;
    border-left: 1px solid rgba(150,150,150,1);
    
}

.code-view p {
    margin-top: 6em;
    border: 1px solid black;
    background-color: rgba(50,50,50,1);
    padding: 2em;
}


/* -------------------------------------- */
/* alert*/

.alert-danger {
    height: 10%;
    margin-bottom: 0;
    position: fixed;
    bottom: 10px;
}

.alert-info {
    position: fixed;
    bottom: 0;
    margin-bottom: 1px;

}

#footerSignedIn h4 a{
    font-size: 1em;
    color: rgba(100,100,100,1) !important;
}

#footerSignedIn .badge{
    background-color: transparent;
    color: red;
    font-size: .8em;
    
}

#footerSignedIn small {
    font-size: .6em;
    margin-left: 1em;
}

#loginRegisterButtons button {
    height: 3-px;
    margin: 0;
}



#footerMessage h4 {
    font-size: 1em;
    margin: 0;
}

/* -------------------------------------- */
/* register and login modal */

/* media queries */

@media (min-height: 1px){  /* ex: iphone 4s */
    .registerLoginModal{
        height: 89%;
        top: 10%;
        font-size: .7em;
    }
}
@media (min-height: 568px){  /* ex: iphone 5s */
    .registerLoginModal{
        height: 80%;
        top: 10%;
        font-size: .8em;
    }
}

@media (min-height: 667px){  /* ex: iphone 6s */
    .registerLoginModal{
        height: 70%;
        top: 15%;
        font-size: .8em;
    }
}

@media (min-height: 667px){  /* ex: iphone 6s */
    .registerLoginModal{
        height: 70%;
        top: 15%;
        font-size: .8em;
    }
}

@media (min-height: 800px){  /* ex: > ipad2 */
    .registerLoginModal{
        height: 55%;
        top: 20%;
        font-size:1em;
    }
}

@media (min-height: 1000px){  /* ex: > hd moniter */
    .registerLoginModal{
        height: 55%;
        top: 15%;
        font-size: 1em;
    }
}
.registerLoginModal{
    position: fixed;
    z-index: 1;
    background-color: rgba(250,250,250,.95);
    box-shadow: 1px 1px 3px 1px rgba(150,150,150,.5);
    border-radius: 4px;
}

.registerLoginModal h2 {
    font-size: 3em;
    line-height: .6em;
}

.registerLoginModal h2 small {
    font-size: .3em;
    padding: 0;
}

.registerLoginModal h3 {
    font-size: 1em;
}

.registerLoginModal form h3 {
    margin: .5em 0 .5em 0;
}

.registerLoginModal form input {
    margin: .1em 0;
}
    
/*  social buttons */
    
.buttonGroup{
    

}
 
.loginButton {
    color: white;
    padding: .5em;
    text-align: left;
    padding: .1em;
    font-size: 1.2em;
}

.loginButton i {
    margin: 0 2em 0 1em;
    font-size: 1.2em;
    padding: .1em
    
}
    
.facebookButton {
    background-color: rgba(59,89,152,1);
}

.twitterButton {
    background-color: rgba(0,132,180,1);
}

.googleButton {
    background-color: rgba(219,50,54,1);
}

.githubButton {
    background-color: rgba(100,100,100,1);
}


    

